/* comments    */
body {
  margin: 10px;
  padding: 10px;
}

ul li{
display: inline-block;
list-style: "0";
}
ul li a {
  font-size:  20px;
  font-family: arial;
  padding: 0 20px;
  color: blue;
}


#red {
  color: red;
}

p
{
  font-weight: bold;
  color:  red;
}
 
.myDiv 
{
  border: 5px;
  background-color: lightblue;
  text-align: center;
}